# {{ ansible_managed }}
service check_mk
{
	type           = UNLISTED
	port           = 6556
	socket_type    = stream
	protocol       = tcp
	flags          = IPv4
	wait           = no
	user           = root
	server         = /usr/bin/check_mk_agent
	only_from      = 127.0.0.1 {{ checkmk_ip }}
	disable	       = no
}

